---
---
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=#{gtm_id}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

:javascript
	var _dcq = _dcq || [];
	var _dcs = _dcs || {};
	_dcs.account = "#{drip_id}";
	(function() {
		var dc = document.createElement('script');
		dc.type = 'text/javascript'; dc.async = true;
		dc.src = "//tag.getdrip.com/#{drip_id}.js";
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(dc, s);
	})();
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer',"#{gtm_id}");

- if current_page.data.include_drift
	:javascript
		!function() {
		var t;
		if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
		t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
		t.factory = function(e) {
		return function() {
		var n;
		return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
		};
		}, t.methods.forEach(function(e) {
		t[e] = t.factory(e);
		}), t.load = function(t) {
		var e, n, o, i;
		e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
		o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
		n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
		});
		}();
		drift.SNIPPET_VERSION = '0.3.1';
		drift.load('mwx6iwat5tc2');

- if current_page.data.include_ops_calendar
	:javascript
		var _paq = _paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u=' https://app.opscalendar.com';_paq.push(['setTrackerUrl', u+'/analytics/collect']);_paq.push(['setSiteId','AOC_tc_c1de09b79523ad011be2a35640658d60']);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/piwik.min.js'; s.parentNode.insertBefore(g,s);})();
