---
section_title: Über uns
---
#data-viz.section-alternate
  .content
    %h3 Data Viz
    :markdown
      According to studies by infogram and D.C. Thomson data visualizations can increase the engagement of your audience.  
      The study showed a __15-30%__ increase in comments and shares. As well as a __60-100%__ increase in time spent on the site.  

      Increaes audience engagement and time spent on your site will result in more donations and will spread your message more widely. Engagements in sharing your story via social media will increase your reach across your target audience. 

