#fit
  .content
    :markdown
      ### Are we a good fit for each other?

    .checklist-list
      :markdown
        If you check all of these boxes I strongly belive we should talk

        - You're part of a civic advocacy group or non-profit
        - You want to visualize data or tell a story with data
        - Your budget is at least 5000 &euro;
