.nav.fixed
  .nav-content
    = link_to '/index.html' do
      = image_tag 'logo.png', alt: 'Civic Vision', height: 30, class: 'logo'
    %ul.nav-small
      %li
        = link_to 'Donor Retention Resources', '/donor-retention-resources'
      %li
        = link_to 'Donor Onboarding', '/donor-retention'
