%section#footer
    .content-wrapper
        #copyright
            %p
                © 2017
                = succeed "." do
                    %a{:href => "https://civicvision.de"} Civic Vision
                    All Rights Reserved |
                %a{:href => "https://civicvision.de/legal"} Legal Information
        #bottom-text
            %p
                %span All content appearing on this website is proprietary, copyrighted, and owned or licensed by LeadPages. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights reserved.
