%ul.nav

  %li
    = link_to t("nav.us"), locale_path("/index.html")
  %li
    = link_to t("nav.resources"), locale_path("/resources/")
  %li{ locale_active('en')}
    = link_to "En", "/index.html"
  %li{ locale_active('de')}
    = link_to "De", "/de/index.html"
