.signup
  %form(action="https://www.getdrip.com/forms/5939372/submissions" method="post" data-drip-embedded-form="5939372" target="_blank")
    %input(name="fields[name]" type="text" value="" placeholder="#{t("newsletter.placeholder.name")}")
    %input.required.email(name="fields[email]" type="email" value="" placeholder="#{t("newsletter.placeholder.email")}")
    %input.button(name="subscribe" type="submit" value="#{t("newsletter.subscribe")}")/
