---
section_title: Über uns
---
#us
  .content
    %h3= t('about_us.title')

    %ul.personas
      %li
        .person
          = image_tag "mf.jpeg", class: "me", alt: "Mila Frerichs"
          %h4
            %a(href="http://twitter.com/mila_frerichs" target="_blank")
              %i.fa.fa-twitter
            %a(href="http://github.com/milafrerichs" target="_blank")
              %i.fa.fa-github
            %a(href="http://milafrerichs.de" target="_blank")
              %i.fa.fa-globe
        .explanation
          :markdown
            #{t('about_us.content')}
  %hr.alternate
