---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper

      %h1 Basics

      %h2 Changing attributes
      :code
        # lang: js

        d3.select('body').attr('name', valueOrFunction)
        d3.select('body').style('css', valueOrFunction)
        d3.select('body').text(yourTextOrFunction)
        d3.select('body').html(yourHtmlOrFunction)

      You can either use a value or you can use a function to change things. The functions will come handy once we join the elements with data.

      %h3 Example
      :code
        # lang: js
        d3.select('.test').attr('id', 'my-first-test')
        d3.select('.test').attr('id', function(d) { return 'my-first-test';})
        d3.selectAll('.test').attr('id', function(d,i) { return 'my-id'+i;})

      - data.excercises.basic.attributes.excercises.each_with_index do |excercise,i|
        %h3= "Excercise #{i+1}"
        :markdown
          #{excercise.challenge}

      %a(class="jsbin-embed" href="http://jsbin.com/giniho/embed?html,js,output") D3 Selection on jsbin.com

