---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper
      %h1 Basics

      %h2 Data Joins

      :code
        # lang: js
        var h1 = d3.selectAll('h1').data([1,2,3])
        h1.enter().append('h1').merge(h1)
        h1.exit().remove()

        d3.select('h1').datum({title: 'Test'})

      :markdown
        This is the toughest part to grasp. But it is very important one for d3.

        Using `data` for multiple joins or `datum` for a single join will add a `__data__` property to that element. Use the Inspector of your browser to see it in action.

        To create new elements that do not exist or update existing one the flow is the following:

        - You select elements you want to create/update  
        - You join the data with these elements  
        - You change existing elements  
        - Enter the selection to create new elements  
        - Merge for updating both  
        - Exit for removing elements  

        More in the [presentation]

      %h3 Example

      %a(class="jsbin-embed" href="http://jsbin.com/tovagekiqi/embed?js,output") D3 Selection on jsbin.com

      = partial "partials/excercises", locals: {excercises: data.excercises.basic.data.excercises }
      = link_to "Next (Mapping)", "/challenges/geo/index.html", class: 'cta-btn'
