---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper
      %h3 Basics

      %p Basis Intro to d3.

      %h4 Content
      %ul
        - data.excercises.basic.structure.each do |structure|
          %li
            = link_to structure.title, "/challenges/basics/#{structure.url}.html"
