---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper
      %h3 Basics

      %p Basis Intro to d3. There are plenty of tutorials out there you can check out for more in depth. The goal here is to get a first idea of d3 and work on code. 

      %h4 Content
      %ul
        - data.excercises.basic.structure.each do |structure|
          %li
            = link_to structure.title, "/challenges/basics/#{structure.url}.html"
