---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper
      %h2 Selection

      :markdown
        Select elements on the page. Even if they don't exist!
        The selection can be a W3C

      :code
        # lang: js
        d3.select(selection) 
        d3.selectAll(selection)

      - data.excercises.basic.selection.excercises.each_with_index do |excercise,i|
        %h3= "Excercise #{i+1}"
        :markdown
          #{excercise.challenge}

      %a(class="jsbin-embed" href="http://jsbin.com/giniho/embed?html,js,output") D3 Selection on jsbin.com
