---
title: Welcome to Middleman
---
%textarea#source
  :preserve
    class: middle, center, inverse
    # Introduction to Mapping with d3
    Mila Frerichs

    ---
    layout: true
    .footer[
      <img src="/images/logo.png" height="20" />
      .what[Mila Frerichs, Mapping with D3]
    ]
    
    ---

    # Agenda

    1. Introduction & Get to know each other (30 min)

    --
    2. Short Overview of basic D3 concepts (15 min)

    --
    3. Work on the challenges (2 hours)

    --
    4. Project (1 hour)

    ---
    class: center, middle
    # Introduction
    ## Who are you?
    --

    ## What do you expect?
    ---
    # Introduction
    How do the challenges work:

    --

    ## Each challenge consists:

    --

    Predefined JS and HTML code for you to fill in the blanks

    --
    
    A solution if you're stuck.

    --
    
    And you have the choice how you want to implement it.

      - JSBin (the default and easiest)
      - Clone the repo and use your own solution
      - Blockbuilder (code is available as bl.ocks and gist)
    ---
    # Challenges
    - Simple Map
    - Change Projection
    - Map with color
    - Add other elements on the map
    - Globe
    - Tooltip
    - Zoom
    - Chorolplet Map
    - label placement
    - and more
    ---
    class: center, middle
    # Basic D3 concepts
    ---
    # Selections
    ## Select a single element
    ```js
    var map=d3.select('#map');
    ```
    Select the element with the id 'map'
    --

    ## Select multiple elements
    ```js
    var groups=d3.selectAll('.country');
    ```
    Select all elements with the class country

    ---
    # Selections
    ## Data
    ```js
    data = ['a','c','e','g'];
    selection = d3.selectAll('.country').data(data);
    ```

    This is the toughest part to grasp. But it is very important one for d3.

    --

    The concept is as follows:

    - You select elements you want to create/update  

    --
    - You join the data with these elements  

    --
    - You change exisitng elements  

    --
    - Enter the selection to create new elements  

    --
    - Merge for updating both  

    --
    - Exit for removing elements  
    ---
    # Selections
    <img src="/images/selections.png" width="100%" />
    ---
    # Selections
    ## enter()
    If the data object has no DOM element in the selection, then it’s considered an “enter”
    --

    ## exit()
    If that data object is no longer present in the data set, it’s considered an “exit”
    --

    ## merge()
    If the data object exists both in the data set and as a property of a DOM node in the selection, you can update these by applying `merge()` to your `append()`
    ---
    # Selections (Data)
    ## Example
    ```js
        var selection = d3.selectAll('h1').data(1,2,3])
        selection.enter().append('h1').merge(selection)
        selection.exit().remove()
    ```
    ---
    # Attributes
    ```js
    .attr("id", 'id')
    ```
    --
    ```js
    .attr("id", function(d) { return d;})
    ```
    --
    ```js
    .attr("id", function(d,i) { return 'id-'+i;})
    ```
    --
    d refers to the current element. If it is joined with a data object the current datum is returned. `i` refers to the current index. If you selected multiple elements with `selectAll` it will iterate over all these elements.

    --
    ### Important attributes to keep in mind

    --
    - class
    --

    - id
    --

    - fill
    --

    - stroke
    --

    - d
    ---
    ## Other elements you can change
    ```js
      d3.select('body').style('css', valueOrFunction)
      d3.select('body').text(yourTextOrFunction)
      d3.select('body').html(yourHtmlOrFunction)
    ```

    --
    ## SVG attributes you need to know

    --
    For `path` elements `fill` is used to change the background.
    ```js
      d3.select('path').attr('fill', '#f0f0f0')
    ```

    --
    For `svg` elements `stroke` is used to change the border color.
    ```js
      d3.select('path').attr('stroke', '#f0f0f0')
    ```
    ---
    ## Examples

    - [Bl.ocks](https://bl.ocks.org)  
    - [Mike Bostock Bl.ocks](https://bl.ocks.org/mbostock)  
    ---
    ## Project

    Your task is to create a map with as many different elements we went through in the challenges. Present the maps at the end of the workshop.
    ---
    ## Project Ideas

    - [Trash days Boston](https://data.boston.gov/dataset/trash-schedules-by-address)  
    - [Code violations Boston](https://data.boston.gov/dataset/code-enforcement-building-and-property-violations)  
    - [Crime incidents](https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system)  
    - [Food Inspections](https://data.boston.gov/dataset/food-establishment-inspections)  
    - [Bike Network](http://bostonopendata-boston.opendata.arcgis.com/datasets/d02c9d2003af455fbc37f550cc53d3a4_0.geojson)  
    - your own data
    ---
    class: center, middle
    ### Let's get started
    ---
    class: center, middle
    # Thanks





