%section#how-works
  .content-wrapper
    %h2#how-works-header How Does It Work
    #step1.step
      .left
        %p#num1.num 1
        %h3#how-works-01-header
          Simply click
          %a{:href => "#"} here
          to become a member of the LeadPages Marketplace.
        %p#how-works-01-copy You will be asked to connect your Stripe account to begin receiving payments. Don’t have a Stripe account? Don’t worry, signup is free and takes less than 2 minutes
      %a#how-works-01-image-link{:href => "https://my.leadpages.net/order-leadpages/B58j7aUkYnHd/"}
        #register-btn.image
          = image_tag 'civicstorytelling/register-btn.png', alt: 'register', id: 'regster-button'
    #step2.step
      .right
        %p#num2.num 2
        %h3#how-works-02-header Begin designing your templates.
        %p#how-works-02-copy We’ve included loads of tutorials and support materials to help you along the way.
      #templates.left
        = image_tag 'civicstorytelling/templates.png', alt: 'templates', id: 'how-works-02-img'
    #step3.step
      .left
        %p#num3.num 3
        %h3#how-works-03-header Submit your template for approval and voila!
        %p#how-works-03-copy
          Once approved, your templates will immediately be available for sale in the LeadPages
          = succeed "." do
            %a#how-works-03-link{:href => "/template-marketplace/"} Marketplace
      .image.submit
        = image_tag 'civicstorytelling/submit.png', alt: 'submit', id: 'how-works-03-img'
