%section#stats
    #stats-container
        = partial "partials/civicstorytelling/stat" ,locals: { headline: "Huge market", subhead: "25,000", stat: "Customers"}
        %img#stats-img-02{alt: "math symbols", src: "../images/math1.png"}
        = partial "partials/civicstorytelling/stat" ,locals: { headline: "Great Visibility", subhead: "23,000,000", stat: "Pageviews"}
        %img#stats-img-03{alt: "math symbols", src: "../images/math2.png"}
        = partial "partials/civicstorytelling/stat" ,locals: { headline: "Be First", subhead: "ONLY 20+", stat: "Authors"}
        %img#stats-img-04{alt: "math symbols", src: "../images/math3.png"}
        = partial "partials/civicstorytelling/stat" ,locals: { headline: "Big Potential", subhead: "100%", stat: "Goes to You"}
