%section#start-today
  .content-wrapper
    %h2#start-today-header Start Today!
    %a#start-today-link.click-btn{href: "https://my.leadpages.net/order-leadpages/B58j7aUkYnHd/"}
      %u Click Here
      to Register as a Template Author
      %span »
