%section#sub-heading
    .content-wrapper
        %p#sub-heading-primary
            %strong We have ZERO commissions. You will get 100% of the revenue of the templates you sell.
        %p#sub-heading-secondary LeadPages takes ZERO commissions. You will get 100% of the revenue of the templates you sell. The LeadPages Marketplace is an ecosystem designed to get the landing page templates you design in front of a massive amount of qualified buyers. What does this mean for you? Let’s do some quick math. . .