%html
  %head
    :css
      #map {
        width: 400px;
        height: 300px;
      }
  %body
    #map
    #tooltip
    %script(src="http://d3js.org/d3.v3.min.js")
    %script(src="http://d3js.org/topojson.v1.min.js")
    %script(src="http://d3js.org/colorbrewer.v1.min.js")
    %script(src="challenge.js")
