---
layout: landingpage
title: Workshop Mapping with D3 - Challenges
---
%div(id="landingpage")
  %section#banner
    .content-wrapper
      %h1 Mapping with d3 - Challenges
  %section.sub-heading
    .content-wrapper
      %h2 Start your challenges

      %form(action="https//www.getdrip.com/forms/33280726/submissions" data-drip-embedded-form="33280726" method="post")
        %div(data-drip-attribute="description")
        %div
          %label(for="drip-email") Email Address
          %br/
          %input#drip-email(name="fields[email]" type="email" value="")/
        %div
          %input(data-drip-attribute="sign-up-button" name="submit" type="submit" value="Let's get started")/
