---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Geo - Elements
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper

      %h1 Add Elements to a map
      :markdown
        You can add almost every element to the map. As long as you have coordinates where to put it. As demostranted in the [Basic]() sectionm the `d3.geoPath` can create a path for every GeoJSON object. 

        To create a point on a map we simply create a Point GeoJSON object and pass it to the geoPath.

        [Reference](https://github.com/d3/d3-geo#paths)
      %a(class="jsbin-embed" href="http://jsbin.com/moviyan/embed?js,output") D3 Selection on jsbin.com

      :markdown
        For path elements you can change the radius for Point and MultiPoint geometries with `d3.geoPath().pointRadius()`
      :code
        #lang: js
        var geoGenerator = d3.geoPath()
          .projection(projection).pointRadius(2);
      = partial "partials/excercises", locals: {excercises: data.excercises.geo.elements.excercises }
      = link_to "Next challenge", "/challenges/geo/interactions", class: 'cta-btn'
