---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Geo Basics
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper
      %h3 Mapping

      %p Basis Intro to d3.

      %h4 Content
      %ul
        - data.excercises.geo.structure.each do |structure|
          %li
            = link_to structure.title, "/challenges/geo/#{structure.url}.html"
