---
layout: landingpage
title: Workshop Mapping with D3 - Challenges - D3 Geo - Interactions
---
.login-required
%div(id="landingpage")
  %section.sub-heading
    .content-wrapper

      %h1 Geo Basics
      %h2 Interactions
      :markdown
        Any DOM event type supported by your browser may be used.  
        e.g.  
        - mouseover  
        - mouseout  
        - mousemove  
        - click  
        - doubleclick  

        ### Usage
      :code
        #lang: js
        d3.select('element').on('mouseover', function(d,i) { return this; });

      :markdown
        d is the datum associated with the element, i is the index and this is the element itself.   
        _Tip: use `d3.select(this)` to change attributes_
        ### Tooltips
        #### Tips & Tricks
        Add a element to the body and position it absolute
        use d3.event.pageX to use mouseposition to position the element
      :code
        #lang: js
        .on("mousemove", function(d) {
          d3.select("#tooltip").style("left", (d3.event.pageX + 10) + "px")
          .style("top", (d3.event.pageY - 20) + "px")
        })
        .on("mouseover", function(d) {
          d3.select("#tooltip").html(d).style("opacity",1)
        });
      = partial "partials/excercises", locals: {excercises: data.excercises.geo.interaction.excercises }
      = link_to "Additional Examples", "/challenges/geo/examples", class: 'cta-btn'
