#us
  h3
    text-align: center
  .personas
    li
      .person
        @include span-columns(2)
        @include media($mobile)
          @include span-columns(4)
      h4
        text-align: center
        font-size: 1.2em
        padding: 0.5em
        a
          color: #fff
          &:hover
            color: #333
      img.me
        width: 8em
        margin: 0 auto
        display: block
        border-radius: 5em

      .explanation
        p
          +font-size(24)
