%html
  %head
    :css
      #map {
        width: 400px;
        height: 300px;
      }
      #tooltip {
        position: absolute;
        opacity: 0;
        width: 100px;
        height: 100px;
        background: #cecece;
      }
  %body
    #map
    #tooltip
    %script(src="http://d3js.org/d3.v3.min.js")
    %script(src="http://d3js.org/topojson.v1.min.js")
    %script(src="challenge.js")
